*/__pycache__/*
*.egg-info
figures/beam_patterns_supp/beam_patterns_supp.pdf
figures/hilbert_beamforming/hilbert_beamforming.pdf
figures/MUSIC_localization_supp/music_localization_supp.pdf
figures/SNN_localization/SNN_localization.pdf
figures/STHT_RZCC_encoding/short-time-HT_robust-ZC-encoding.pdf
figures/xylo_localization_supp/xylo_localization.pdf
paper_plots/STHT_plots
paper_plots/array_resolution_sin
figures/hilbert_beamforming
paper_plots/RZCC_plots
paper_plots/array_resolution_music_sin
paper_plots/array_resolution_snn_sin
paper_plots/array_resolution_snn_wideband
paper_plots/array_resolution_wideband
paper_plots/fixed_target
paper_plots/fixed_target_snn
paper_plots/music_fixed_target
paper_plots/phase_random_plot
paper_plots/two_exp_phase_plots
paper_plots/xylo_fixed_target
paper_plots/phase_chirp_plot
paper_plots/xylo_fixed_target_unipolar
paper_plots/review1/array_resolution_linear_music_sin
paper_plots/review1/array_resolution_linear_snn_sin
paper_plots/review1/array_resolution_linear_snn_wideband
paper_plots/review1/array_resolution_random_music_sin
paper_plots/review1/array_resolution_random_snn_sin
paper_plots/review1/array_resolution_random_snn_wideband
*.pyc
samna.log
figures/beam_patterns_linear_supp/beam_patterns_linear_supp.pdf
figures/beam_patterns_random_supp/beam_patterns_random_supp.pdf
